@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url("./reset.css");

/* 스타일 가이드 */
:root {
  --main_color:#e5322d; 
  --basic_fontcolor:#47474f; 
  --gnb_fontcolor:#161616; 
  --p_text_fontcolor:#707078; 
  --p_white_text_fontcolor:#f5f5fa; 
  --title_fontcolor:#33333b; 
  --background-color:#f5f5fa
}

/* 배경 영역, 전체 */
body {
  font-family: "Noto Sans KR", serif;
  background-image: url(./../img/background.svg);
  background-repeat: no-repeat;
  background-color: var(--background-color);
  background-size: 100%;
  background-position: 0px -465px;
  background-attachment: fixed;
  line-height: 20px;
}

.container {
  width: 100%;
  height: fit-content;
}

/* 헤더 영역 */
header {
  width: 100%;
  height: 60px;
  background-color: #fff;
  padding: 0px 24px;
  box-sizing: border-box;
  box-shadow: 0 3px 6px 0 rgba(50,50,50,.3);
  position: fixed;
}

main {
  width: 100%;
  height: fit-content;
}

.con {
  width: 1855px;
  height: 100%;
  font-size: 14px;
  display: flex;
  align-items: center;
}

/* 로고 영역 */
h1 {
  width: fit-content;
  height: fit-content;
  margin-right: 20px;
}

h1 a img {
  width: 119px;
  height: 30px;
}

/* 메뉴영역 */
#gnb {
  width: fit-content;
  height: 100%;
}

#gnb > ul {
  width: fit-content;
  height: 100%;
  display: flex;
} 

#gnb > ul > li {
  margin: 0px 12px;
}

#gnb > ul > li > a {
  line-height: 60px;
  color: var(--gnb_fontcolor);
  font-weight: 500;
  padding: 0px 12px;
  box-sizing: border-box;
}

#gnb > ul > li > a:hover {
  color: var(--main_color);
}

/* 헤더 오른쪽 부분 */
.header_right {
  width: fit-content;
  height: fit-content;
  display: flex;
  margin-left: auto;
  align-items: center;
}

.header_right div {
  padding: 0px 6px;
}

.header_right > div:nth-of-type(1) {
  width: 35px;
  height: 32px;
}

.header_right > div:nth-of-type(1) > a {
  width: 100%;
  height: 100%;
  font-size: 0px;
  display: block;
  background-color: antiquewhite;
  background: url(./../img/sprite.svg) -55px -28px / 111px 780px no-repeat;
  padding: 0px 8px 0px 0px;
}

.header_right > div:nth-of-type(2) > a {
  color: var(--gnb_fontcolor);
  font-weight: 500;
}

.header_right > div:nth-of-type(2) > a:hover {
  color: var(--main_color);
}

.header_right > div:nth-of-type(3) > a {
  padding: 7px 13px;
  background-color: var(--main_color);
  font-weight: 600;
  border-radius: 8px;
  color: #fff;
}

.header_right > div:nth-of-type(3) > a:hover {
  background-color: #b42621;
  transition: 0.3s;
}

/* 햄버거 버튼 */
.header_btn {
  width: 24px;
  height: 18px;
  font-size: 0px;
  background: url(./../img/sprite.svg) -55px -5px / 111px 780px;
  margin-left: 20px;
}

.header_btn:hover {
  cursor: pointer;
}

/* 2차 메뉴 */

.dropbox {
  width: fit-content;
  height: fit-content;
  display: flex;
  position: absolute;
  left: 300px;
  background-color: transparent;
  display: none;
  animation: drop_bottom .08s ease-in-out both;
}

@keyframes drop_bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

#gnb > ul > li:nth-of-type(4):hover > .dropbox {
  display:flex;
}

.dropbox::after {
  content: "세모";
  display: block;
  position: absolute;
  top: 10px;
  left: 230px;
  transform: rotate(45deg);
  font-size: 0px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  padding: 16px 0px 0px;
}

.dropdown {
  width: fit-content;
  height: fit-content;
  padding: 25px;
  margin-top: 20px;
  box-sizing: border-box;
  background-color: #fff;
}

.dropdown:first-child {
  border-radius: 10px 0px 0px 10px;
  padding-right: 5px;
}

.dropdown:last-child {
  border-radius: 0px 10px 10px 0px;
  padding-right: 40px;
}

.dropbox > ul > li {
  width: 210px;
  height: 40px;
  padding: 0px 12px;
  box-sizing: border-box;
}

.dropbox > ul:first-child {
  width: fit-content;
}

.dropbox > ul:last-child {
  width: fit-content;
}

.nav__title {
  width: 100%;
  height: 100%;
  color: #707078;
  font-weight: 400;
  font-size: 13px;
  margin-left: 12px;
}

.dropdown > li > a {
  font-size: 13px;
  color: var(--gnb_fontcolor);
  font-weight: 500;
  width: 100%;
  height: 100%;
  display: block;
  line-height: 40px;
  padding-left: 12px;
}

.dropdown > li > a:hover:not(.nav__title) {
  background-color: #f1f1f193;
  border-radius: 10px;
  color: var(--main_color);
}

.dropdown > li > a::before {
  content: "작은 아이콘";
  width: 20px;
  height: 20px;
  font-size: 0;
  display: block;
  float: left;
  margin-top: 9px;
  margin-right: 10px;
  background-image: url(./../img/sprite.svg);
}

/* 2차메뉴 - 왼쪽 */

.dropdown:first-child > li:nth-of-type(2) > a::before {
  background-position: -5px -180px;
}

.dropdown:first-child > li:nth-of-type(3) > a::before {
  background-position: -5px -205px;
}

.dropdown:first-child > li:nth-of-type(4) > a::before {
  background-position: -5px -230px;
}
.dropdown:first-child > li:nth-of-type(5) > a::before {
  background-position: -5px -255px;
}

.dropdown:first-child > li:nth-of-type(6) > a::before {
  background-position: -5px -530px;
}

/* 2차메뉴 - 오른쪽 */

.dropdown:last-child > li:nth-of-type(2) > a::before {
  background-position: -5px -280px;
}

.dropdown:last-child > li:nth-of-type(3) > a::before {
  background-position: -5px -305px;
}

.dropdown:last-child > li:nth-of-type(4) > a::before {
  background-position: -5px -330px;
}

.dropdown:last-child > li:nth-of-type(5) > a::before {
  background-position: -5px -355px;
}

.dropdown:last-child > li:nth-of-type(6) > a::before {
  background-position: -5px -505px;
}

/* 다운로드 아이콘 상세 */
.header_right > div > span {
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  background-color: #444444;
  position: absolute;
  bottom: -45px;
  right: 130px;
  border-radius: 5px;
  display: none;
  animation: gnb_icon 0.3s ease-in-out both;
}

@keyframes gnb_icon {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 20;
  }
}

.header_right > div > span::before {
  content: "앞 세모";
  font-size: 0px;
  width: 15px;
  height: 15px;
  background-color: #444444;
  display: block;
  position: absolute;
  top: -5px;
  left: 110px;
  transform: rotate(45deg);
  z-index: -1;
}

.header_right > div:first-child:hover > span {
  display: block;
}

/* 섹션 1번 영역 */
.sec1_pdf_love {
  width: 100%;
  height: fit-content;
}

/* 섹션 1번 타이틀 */
.sec1_pdf_love > div:first-child {
  text-align: center;
  padding: 90px 24px;
  padding-bottom: 24px;
  box-sizing: border-box;
}

.sec1_pdf_love > div:first-child > h2 {
  width: 100%;
  line-height: 52px;
  font-size: 42px;
  color: var(--title_fontcolor);
  font-weight: 700;
  margin: 0px 0px 4px;
}

.sec1_pdf_love > div:first-child > p {
  width: 100%;
  line-height: 35px;
  font-size: 22px;
  margin: 0px 17px 12px;
  color: var(--basic_fontcolor);
}

/* 섹션 1번 아이템 영역 */
.sec1_items_wrap {
  width: 1767px;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  margin: 25px auto;
  margin-bottom: 65px;

}

.sec1_items {
  width: 290px;
  height: 218px;
  background-color: #fff;
  box-shadow: 0px 0px 8px 1px #dfdfdf;
  border-radius: 4px;
  border: 1px solid #eeeeee;
}

.sec1_items > a {
  width: 100%;
  height: 100%;
  padding: 32px;
  display: block;
  box-sizing: border-box;
}

.sec1_items > a > div:nth-child(1):not(.sec1_items_icon12) {
  width: 48px;
  height: 48px;
  background-image: url(./../img/sprite.svg);
  margin-bottom: 20px;
  background-size: 248px 1760px;
} 

/* 섹션 1번 아이콘 배경 영역 */
.sec1_items_icon1 {
  background-position: -8px -10px;
}

.sec1_items_icon2 {
  background-position: -8px -67px;
}

.sec1_items_icon3 {
  background-position: -8px -292px;
}

.sec1_items_icon4 {
  background-position: -8px -687px;
}

.sec1_items_icon5 {
  background-position: -8px -743px;
}

.sec1_items_icon6 {
  background-position: -8px -800px;
}

.sec1_items_icon7 {
  background-position: -8px -462px;
}

.sec1_items_icon8 {
  background-position: -8px -517px;
}

.sec1_items_icon9 {
  background-position: -8px -574px;
}

.sec1_items_icon10 {
  background-position: -8px -1420px;
}

.sec1_items_icon11 {
  background-position: -8px -631px;
}

.sec1_items_icon12 {
  width: 48px;
  height: 48px;
  margin-bottom: 20px;
  background-image: url(./../img/sprite.svg);
  background-position: -8px -405px;
  background-size: 210px 1755px;
}

.sec1_items_icon13 {
  background-position: -8px -1251px;
}

.sec1_items_icon14 {
  background-position: -8px -968px;
}

.sec1_items_icon15 {
  background-position: -8px -855px;
}

.sec1_items_icon16 {
  background-position: -8px -1194px;
}

.sec1_items_icon17 {
  background-position: -8px -1024px;
}

.sec1_items_icon18 {
  background-position: -8px -1081px;
}

.sec1_items_icon19 {
  background-position: -8px -235px;
}

.sec1_items_icon20 {
  background-position: -8px -1137px;
}

.sec1_items_icon21 {
  background-position: -8px -347px;
}

.sec1_items_icon22 {
  background-position: -8px -911px;
}

.sec1_items_icon23 {
  background-position: -8px -1532px;
}

.sec1_items_icon24 {
  background-position: -8px -1588px;
}

.sec1_items_icon25 {
  background-position: -8px -1645px;
}

.sec1_items_icon26 {
  background-position: -8px -1701px;
}

.sec1_items > a:hover > div:nth-of-type(1) {
  transform: scale(1.07);
}

.sec1_items > a > h3 {
  font-size: 20px;
  color: var(--title_fontcolor);
  font-weight: 500;
  margin-bottom: 15px;
}

.sec1_items_text {
  font-size: 13px;
  color: var(--p_text_fontcolor);
  font-weight: 400;
  line-height: 18px;
}

.sec1_items:nth-of-type(25) {
  height: 250px;
}

.sec1_items:nth-of-type(26) {
  height: 250px;
}

.sec1_items:hover {
  background-color: #f5f5fa;
  transition: 0.5s;
}

/* 섹션 2번 영역 */
.sec2_other_solution {
  width: 100%;
  height: fit-content;
  padding: 96px 0px 124px;
  background-color: #fff;
}

.sec2_con {
  width: 100%;
  height: fit-content;
  padding: 0px 167px;
  box-sizing: border-box;
}

.sec2_con > h2 {
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 42px;
  color: var(--title_fontcolor);
  font-weight: 700;
  margin-bottom: 70px;
}

.sec2_text {
  display: flex;
  justify-content: space-between;
}

.sec2_text p {
  width: 480px;
  height: fit-content;
  line-height: 30px;
}

.sec2_text > div > p:first-child {
  font-size: 28px;
  width: 100%;
  line-height: 30px;
  margin-bottom: 12px;
  font-weight: 500;
  color: var(--title_fontcolor);
}

.sec2_text > div > p:last-child {
  font-size: 16px;
  color: #707078;
}

.sec2_text > div > p > a {
  color: var(--main_color);
  text-decoration: underline;
  font-weight: 600;
}

.sec2_text > div > p > a:hover {
  color: #000;
}

/* 섹션 3번 영역 */
.sec3_software {
  width: 100%;
  height: fit-content;
  padding: 96px 0px 124px;
}

.sec3_software > h2 {
  text-align: center;
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 42px;
  color: var(--title_fontcolor);
  font-weight: 700;
  margin-bottom: 16px;
}

.sec3_software > p {
  text-align: center;
  width: 100%;
  line-height: 35px;
  font-size: 22px;
  color: var(--basic_fontcolor);
  margin-bottom: 80px;
}

.sec3_software > div > img:nth-of-type(1) {
  width: 55px;
  height: 25px;
}
.sec3_software > div > img:nth-of-type(2) {
  width: 67px;
  height: 30px;
}
.sec3_software > div > img:nth-of-type(3) {
  width: 89px;
  height: 30px;
}

.sec3_software > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
}

/* 섹션 4번 영역 */
.sec4_premium {
  width: 100%;
  height: 537px;
  padding: 96px 167px 124px;
  background-color: var(--basic_fontcolor);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.sec4_text {
  width: fit-content;
  height: fit-content;
  color: #f5f5fa;
}

.sec4_text > h2 {
  font-size: 42px;
  line-height: 42px;
  margin-bottom: 16px;
  font-weight: 700;
  margin-top: 60px;
}
.sec4_text > p {
  font-size: 22px;
  line-height: 35px;
  margin-bottom: 60px;
}

.sec4_text > a {
  width: 100%;
  height: 100%;
  padding: 8px 20px;
  background-color: #ffc233;
  border-radius: 8px;
  font-weight: 600;
  color: var(--title_fontcolor);
  transition: 0.3s;
}

.sec4_text > a:hover {
  background-color: #d69807;
}

.sec4_img {
  margin-top: 50px;
}

/* 푸터 영역 */
footer {
  width: 100%;
  height: fit-content;
  padding: 50px 0px;
  background-color: #f5f5fa;
  box-sizing: border-box;
}

.footer_con {
  width: 100%;
  height: fit-content;
  padding: 0px 153px;
  box-sizing: border-box;
}

/* 푸터 gnb */
.footer_gnb_wrap > ul {
  width: 100%;
  height: fit-content;
  display: flex;
  margin-bottom: 50px;
  justify-content: space-between;
}

.footer_gnb_wrap > ul > li {
  width: 362px;
  line-height: 32px;
  padding: 0px 15px;
  color: var(--main_color);
  font-size: 16px;
  font-weight: 700;
}

.footer_submenu {
  font-size: 16px;
  font-weight: 400;
}

.footer_submenu > li > a {
  color: var(--basic_fontcolor);
}

.footer_submenu > li > a:hover {
  color: var(--main_color);
}

/* 푸터 앱 다운로드 */
.footer_app {
  width: 100%;
  height: fit-content;
  border-bottom: 1px solid #cccccc;
}

.footer_app > div {
  width: fit-content;
  height: fit-content;
  display: flex;
  gap: 15px;
  margin-left: auto;
  margin-bottom: 25px;
}

/* 푸터 카피라이트 등 */
.footer_copy {
  width: 100%;
  height: fit-content;
  margin-top: 25px;
  display: flex;
}

.footer_copy > div:first-child {
  display: flex;
  gap: 8px;
}

.lang_icon {
  width: 20px;
  height: 20px;
  background-image: url(../img/sprite.svg);
  background-position: -30px -281px;
  background-repeat: no-repeat;
}

.footer_copy > div > p {
  color: var(--basic_fontcolor);
}

.footer_copy > p {
  margin-left: auto;
  color: var(--basic_fontcolor);
}

/* 푸터 아이콘 */
.footer_sm_icon {
  display: flex;
  gap: 8px;
  margin-left: 15px;
}

.footer_sm_icon > a {
  width: fit-content;
  height: fit-content;
  display: block;
}

.footer_sm_icon > a:hover > img {
  opacity: 100%;
}

.footer_sm_icon > a > img {
  width: 24px;
  height: 24px;
  opacity: 70%;
  transition: 0.3s;
}

:is(.lang_icon, .lang_icon+p):hover {
  cursor: pointer;
}